@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: #3b3b3b;
  color: #fff;
  margin: 0;
  padding: 0;
}
.counter-content {
  text-align: center;
  margin: 20px 40px;
}
.counter {
  font-size: 60px;
}
@media (max-width: 600px) {
  body {
    flex-direction: column;
  }
}
.fa-twitter {
  color: #1da1f2;
}
.fa-youtube {
  color: #ff0000;
}
.fa-instagram,
.insta {
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  background-clip: text;
  color: transparent;
}
